<h4>Event Binding,Passing Value and Two Way Binding</h4>
<h3>1.Event Binding</h3>
<!-- Like property binding uses [] Event binding uses ()-->
<!--we can use onclick event for typical JavaScript but here we are using (click)-->
<!-- Should not put too much logic within the quotes i.e(click)="" .You can return boolean values too -->
<button class="btn btn-primary" (click)="OnAddEmployee()" >Add Employee</button>
<p>{{AlertMessage}}
<p>


<h3>2.Event Binding</h3>
<!-- $ is  reserve  variable which can be used inside the template and the value can be used withing the "" i.e (input)="OnNewEmployeeAdd($event)"-->
<!-- $event is a data emitted along with event where (input) and (click)  are html DOM Elements
  1. you can pass this $event to the function calling
  2. you can use this value between the quotes i.e (input)="OnNewEmployeeAdd($event)"
-->
<input type="text" (input)="OnNewEmployeeAdd($event)">
<p>{{ShowValue}}
<p>

<h3>3.Two Way Data Binding</h3>
<!--
  1.In Two way binding we combine both property binding and event binding 
    i.e [] + ()=> [()]
  2. We need use directives here we are using ngModel for which you need to import 
      import { FormsModule } from '@angular/forms'; in the app module and also to the import[] in the AppModule
  3. We can prepoulate it either in the constructor or Initalize in the class 

-->
<input type="text" [(ngModel)]="EmployeName">
<p>{{EmployeName}}</p>

<h3>4.Combining All</h3>
<!--
  You can use either 1st approach with event binding or second approch by data Binding
-->
<input type="text" [(ngModel)]="EmployeName">
<button class="btn btn-primary" [disabled]="!canEnableButton" (click)="OnAddEmployee()">Add </button>
<p>{{AlertMessage}}</p>
<!--
  in the above Snippet We are using Event Binding to listen the click String InterPolation to output the String and propety binding to enable to button after 5 seconds and two  way binding to fetch the data
-->
<!-- disable button if the text box is empty-->
<input type="text" [(ngModel)]="EmployeName">
<button class="btn btn-primary" [disabled]="EmployeName===''"(click)="OnAddEmployee()">Add </button>